.contrast-toggler
  &-white:after
    position: absolute
    content: ''
    width: 25px
    height: 25px
    border-radius: 3rem
    border: 2px solid #656565

  &-black:after
    position: absolute
    content: ''
    width: 25px
    height: 25px
    border-radius: 3rem
    background-color: #656565