a
    text-decoration: none
    
.footer-links
    text-align: center

.do-test-link
    color: #f00
    text-decoration: underline solid
    &:hover
        color: #d00
        text-decoration: underline double


