/* 
    Auteur:         Tibo Melis
    Omschrijving:   Een opdracht van MaxServ
    Datum:          9/1/2022  
    Bestand:        Styling voor de website op desktop
*/

@font-face {
    font-family: 'Raleway';
    src: url('./../fonts/Raleway-Regular.ttf');
}

@font-face {
    font-family: 'Open-Sans-Thin';
    src: url('./../fonts/OpenSans-Light.ttf');
}

@font-face {
    font-family: 'Open-Sans-Bold';
    src: url('./../fonts/OpenSans-Bold.ttf');
}

:root {
    --gray: #F6F6F6;
    --lightgray: #f1f1f1;
    --blue: #00B5E8;
    --lightblue: #00c8ff;
    --font-header: 'Raleway';
    --font-default: 'Open-Sans-Thin';
    --font-bold: 'Open-Sans-Bold';
}

body {
    font-family: var(--font-default);
    grid-template-rows: repeat(3, auto);
}
/* TOP PART */
header {
    margin: 4vw 4vw 0 4vw;
    padding: 0 6vw;
    height: 4vw;
    z-index: 1;
    align-items: center;
    justify-content: space-between;
}
.mobile-menu-btn
{
    display: none;
}

header > .lorem-logo {
    left: 1vw;
    height: 10vw;
    width: 10vw;
}


/* Menu underline */
.menu-item {
    color: black;
    text-decoration: none;
    margin: 0 10px;
    padding: 10px 0;
    font-family: var(--font-header);
}

.menu-item:hover {
    color: var(--blue);
    border-bottom: 3px solid;
}

.menu-item.selected {
    color: var(--blue);
    border-bottom: 3px solid;
}

/* main */
main {
    padding: 3vw;
    padding-bottom: 5vw;
    margin: 0 4vw;
    background-color: var(--gray);
    z-index: 0;
}

.bold {
    font-family: var(--font-bold);
}

.images
{
    display: flex;
    justify-content: space-evenly;
}

.images > div {
    margin: 0;
    padding: 0;
}

.images .image {
    width: 100%;
    height: 100%;
}

.parent {
    padding: 0;
    margin: 1vw;
    width: 30vw;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
}
.image.base {
    position: relative;
    top: 0;
    left: 0;
}

.image.overlay {
    position: absolute;
    height: fit-content;
    top: 0;
    left: 0;
    background-color: rgba(255, 0, 0, 0.5);
    opacity: 0;
}

.image.overlay:hover {
    opacity: 1;
    transition: .5s ease;
    cursor: pointer;
}

.padding-right
{
    padding-right: 35%;
}

.doe-de-test {
    color: red;
}

.article-2 {
    display: flex;
}

footer {
    height: 5vw;
    display: flex;
    margin: 0 5vw 5vw 5vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-links {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.footer-links > div > a, .footer-link {
    color: black;
    text-decoration: none;
}

footer > div > .lorem-logo {
    height: 8vw;
    width: 8vw;
}
footer > div:first-child {
    display: flex;
    align-items: flex-end;
}
footer > div:last-child {
    display: flex;
    align-items: center;
}

footer > div:last-child > * {
    padding: 0 1vw;
}

.more-projects
{
    display: flex;
    color: white;
    font-family: var(--font-bold);
    text-decoration: none;
    justify-content: center;
}
.more-projects > div {
    width: fit-content;
    padding: 1vw;
    background-color: var(--blue);
}

.more-projects > div:hover {
    background-color: #4bd8ff;
    color: var(--lightgray);
}

.lang-sel {
    display: flex;
    justify-content: flex-end;
    margin: 1vw 4vw 0 4vw;
    padding: 0 1vw;
}

.lang-sel > div {
    width: 1vw;
    height: 1vw;

}

.lang-sel-item {
    padding-left: 1vw;
}

.lang-sel-item > a{
    text-decoration: none;
    color: black;
}
.lang-sel-item > a > p:hover {
    background-color: var(--lightblue) !important;
    color: white !important;
}

.lang-sel-item.selected > a > p{
    color: white;
    background-color: var(--blue);
    font-family: var(--font-bold);
}
.lang-sel-item > a > p {
    padding: 1vw;
}

div {
    padding: 2vw;
}

h1 {
    font-size: 2vw;
}

p, a {
    font-size: 1vw;
}

.border.gray
{
    border: 1px solid var(--lightgray);
}

.border.black {
    border: 1px solid black;
}

.grid
{
    display: grid;
}

.text.white
{
    color: white;
}

.text.black
{
    color: black;
}

.flex {
    display: flex;
}

.flex.start {
    align-self: flex-start;
}

.flex.end {
    align-self: flex-end;
}

.flex.centered
{
    align-items: center;
    justify-content: center;
}